.button {
  display: inline-block;
  padding: 22px 51px;
  font: inherit;
  text-transform: uppercase;
  background-color: $color-accent;
  border: none;
  border-radius: 65px;
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #f39425;
  }

  @media (max-width: $mobile-width) {
    min-width: 185px;
    min-height: 47px;
    padding: 15px 32px;
    font-size: 14px;
    line-height: 16px;
  }
}
