.choice-quest {
  position: static;
}

.choice-quest__wrapper {
  width: 1366px;
  padding-left: 136px;
  padding-right: 136px;
  margin: 0 auto;
}

.choice-quest__subtitle {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 8px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: $color-accent;
}

.choice-quest__title {
  margin-bottom: 44px;
}
