.controls {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 23px 34px -34px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    flex-wrap: nowrap;
    margin-bottom: 39px;
  }
}

.controls__item {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  width: auto;
  border-right: 1px solid rgba(#ffffff, 0.32);

  &:last-child {
    border: none;
  }
}

.controls__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: $color-text;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-accent;
  }

  @media (max-width: $tablet-width) {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.controls__item:first-child .controls__btn {
  padding-left: 1px;

  @media (max-width: $mobile-width) {
    padding-left: 17px;
  }
}

.controls__btn-icon {
  margin-right: 12px;

  @media (max-width: $tablet-width) {
    height: 24px;

    &--all-quests {
      width: 20px;
    }

    &--adventures {
      width: 29px;
    }

    &--horror {
      width: 24px;
    }

    &--mystic {
      width: 24px;
    }

    &--detective {
      width: 32px;
    }

    &--scifi {
      width: 23px;
    }
  }
}

.controls__btn-text {
  overflow-wrap: break-word;
  max-width: 150px;
}

.controls__item--active .controls__btn-text {
  padding-top: 4px;
  padding-bottom: 2px;
  border-bottom: 2px solid $color-accent;
}
