.form__list {
  @include reset-list;
}

.form__item {
  margin: 0;
  margin-bottom: 27px;
  margin-right: 16px;
  padding: 0;

  &--btn {
    margin-right: 0;
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 8px;
  }
}

.form__item label {
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 0;
  font: inherit;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
    margin-right: 25px;
    line-height: 23px;
  }
}

.form__input-block {
  margin: 0;
  position: relative;
  margin-bottom: 28px;
}

.form__input {
  width: 100%;
  min-height: 53px;
  padding: 15px 24px;
  background-color: transparent;
  border: 1px solid rgba(#ffffff, 0.4);
  border-radius: 3px;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: $color-text;
  outline: none;

  &:valid {
    border-color: #2cdb52;
  }

  &--invalid {
    border-color: #d26f13;
  }

  @media (max-width: $mobile-width) {
    line-height: 23px;
  }
}

.form__placeholder {
  position: absolute;
  left: 19px;
  top: 50%;
  display: block;
  padding: 5px;
  transform: translateY(-50%);
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  color: rgba($color-text, 0.64);

  transition: transform 0.35s, background 0.35s;

  &--value {
    background-color: #1f1d1d;
    transform: translateY(-40px);
    font-size: 12px;
    line-height: 17px;
  }
}

.form__input-block input:focus + .form__placeholder {
  background-color: #1f1d1d;
  transform: translateY(-40px);
  font-size: 12px;
  line-height: 17px;
}

.form__invalid {
  position: absolute;
  left: 24px;
  bottom: -20px;
  display: none;
  color: #d26f13;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}

.form__item textarea {
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 15px 24px;
  background-color: transparent;
  border: 1px solid rgba(#ffffff, 0.4);
  box-sizing: border-box;
  border-radius: 3px;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  resize: none;
  color: $color-text;
  cursor: pointer;
  outline: none;
}

.form__input input:hover,
.form__item textarea:hover,
.form__input input:focus,
.form__item textarea:focus {
  border-color: #ffffff;
}

.form__btn {
  display: block;
  margin: 0 auto;
  margin-top: 33px;
  margin-bottom: 24px;
  padding: 15px 32px;
  font-size: 14px;
  line-height: 16px;

  &:disabled {
    background-color: #b8b8b8;
    cursor: default;
  }

  @media (max-width: $mobile-width) {
    margin: 32px auto 23px;
  }
}

.form__checkbox {
  display: flex;
  margin: 0;
}

.form__checkbox label {
  position: relative;
  padding-left: 24px;
  font: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    background-color: $color-accent;
    border-radius: 4px;
    opacity: 0.4;
  }
}

.form__checkbox input:checked + label {
  &::after {
    opacity: 1;
    background-image: url("../img/checked.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form__checkbox label a {
  font: inherit;
  color: $color-text;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-accent;
  }
}
