.order {
  max-width: 1152px;
  margin: 0 auto;
}

.order__wrapper {
  padding-left: 34px;
  padding-right: 32px;
  position: relative;
  margin-bottom: 50px;

  @media (max-width: $mobile-width) {
    margin-top: 26px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 87px;
  }
}

.order__form  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.order__title-block {
  margin-right: 7.8%;
  margin-bottom: 15px;
}

.order__link {
  display: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: $color-text;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 32px;

  &:hover,
  &:focus {
    color: $color-accent;
  }

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.order__link svg {
  margin-right: 4px;
}

.order__subtitle {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $color-accent;

  @media (max-width: $mobile-width) {
    margin-bottom: 8px;
  }
}

.order__subtitle-quest {
  display: block;
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.order__subtitle-genre {
  display: none;
  @media (max-width: $mobile-width) {
    display: block;
  }
}

.order__title {
  font-weight: 900;
  font-size: 92px;
  line-height: 87px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: -5px;

  @media (max-width: $tablet-width) {
    font-size: 70px;
    line-height: 78px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    font-size: 42px;
    line-height: 46px;
    letter-spacing: normal;
  }
}

.order__block-sessions {
  min-height: 345px;
  order: 1;
  padding-top: 32px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  border-top: 1px solid rgba($color-text, 0.25);

  @media (max-width: $mobile-width) {
    order: 0;
    padding: 0;
    padding-top: 26px;
  }
}

.order__date-block {
  display: flex;
  align-items: center;
  margin-left: 2px;

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}

.order__button {
  position: relative;
  padding: 0;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 6px;
  font: inherit;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  background: none;
  border: none;
  border-bottom: 2px solid $color-accent;
  outline: none;
  cursor: pointer;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.order__data-btn {
  margin-right: 24px;

  @media (max-width: $mobile-width) {
    margin-right: 17px;
  }
}

.order__data {
  margin-top: -1px;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  color: #ffffff;
  font-feature-settings: "lnum" 0;

  @media (max-width: $mobile-width) {
    margin-top: 0;
    padding-bottom: 6px;
  }
}

.order__info {
  @include reset-list;
  display: flex;
  margin-top: 25px;
  margin-left: 2px;

  @media (max-width: $mobile-width) {
    margin: 18px 0 0 0px;
  }
}

.order__info-item {
  position: relative;
  padding-left: 20px;
  padding-right: 24px;
  font-size: 12px;
  line-height: 17px;
  color: rgba(#ffffff, 0.82);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--free::after {
    border: 2px solid #c4c4c4;
  }

  &--busy::after {
    background-image: linear-gradient(158.6deg, #F2890F 9.78%, #B8600F 79.81%);
  }

  &--selected::after {
    background-image: linear-gradient(180deg, #2CDB52 0%, #13BA19 100%);
  }

  @media (max-width: $mobile-width) {
    padding-right: 25px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.order__form-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  width: 820px;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.order__form-item {
  margin-right: 32px;
  margin-bottom: 33px;

  &:nth-child(6n) {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    &:nth-child(6n) {
      margin-right: 32px;
    }
  }

  @media (max-width: $mobile-width) {
    margin-right: 25px;
    margin-bottom: 32px;

    &:nth-child(6n) {
      margin-right: 25px;
    }
  }
}

.order__form-item label {
  display: block;
  padding: 9px 29px 5px 29px;
  margin-bottom: 4px;
  min-width: 110px;
  min-height: 38px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #ffffff;
  box-shadow: inset 0 0 0 2px #c4c4c4;
  border-radius: 65px;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 2px #2cdb52;
  }
}

.order__form-item input:checked + label {
  box-shadow: none;
  background-image: linear-gradient(180deg, #2cdb52 0%, #13ba19 100%);
}

.order__form-item input:disabled + label {
  box-shadow: none;
  background-image: linear-gradient(172.29deg, #F2901D 9.78%, #D26F13 79.81%);
  cursor: default;
}

.order__form-item span {
  display: block;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

.order__block-pay {
  width: 36.9%;
  min-width: 330px;
  justify-content: space-between;
  margin-top: 20px;
  display: flex;
  align-items: flex-end;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 8px;
  }
}

.order__option {
  margin: 0;
  margin-right: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;

  @media (max-width: $mobile-width) {
    margin-right: 0;
    margin-bottom: 21px;
  }
}

.order__option-data,
.order__option-sum {
  display: block;
}

.order__form-btn {
  margin-bottom: 4px;
}
