.page-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
    background-position: top center;
  }

  &--index::after {
    background-image: linear-gradient(274.19deg, transparent 35.91%, rgba(#24150e, 0.53) 65.15%, rgba(#1a140d, 0.53) 98.48%), url("../img/bg-index-desktop@1x.jpg");
  }

  &--order::after {
    background-image: url("../img/bg-order-desktop@1x.jpg");;
  }

  &--maniac::after {
    background-image: radial-gradient(43.88% 64.96% at 22.69% 38.28%, rgba(0, 0, 0, 0.04) 47.51%, rgba(0, 0, 0, 0.56) 91.16%), url("../img/bg-maniac-desktop@1x.jpg");
  }

  &--secrets::after {
    background-image: linear-gradient(107.85deg, rgba(107, 75, 75, 0.05) 30.73%, rgba(36, 21, 21, 0.52) 70.25%), radial-gradient(44.53% 44.53% at 28.7% 44.66%, rgba(0, 0, 0, 0.04) 47.51%, rgba(0, 0, 0, 0.36) 91.16%), url("../img/bg-secrets-desktop@1x.jpg");
  }

  &--ritual::after {
    background-image: url("../img/bg-ritual-desktop@1x.jpg");
  }

  &--experiment::after {
    background-image: linear-gradient(107.85deg, rgba(107, 75, 75, 0.05) 30.73%, rgba(36, 21, 21, 0.32) 70.25%), radial-gradient(30.73% 64.85% at 27.56% 50%, rgba(0, 0, 0, 0.04) 48.01%, rgba(0, 0, 0, 0.56) 93.83%), url("../img/bg-experiment-desktop@1x.jpg");
  }

  @media (max-width: $mobile-width) {
    &--index::after {
      background-image: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150E 89.63%, #1A140D 106.79%), radial-gradient(41.41% 41.41% at 66.25% 48.18%, transparent 2.48%, transparent 63.56%, rgba(0, 0, 0, 0.35) 97.05%), url("../img/bg-index-mobile@1x.jpg");
    }

    &--maniac::after,
    &--secrets::after,
    &--ritual::after,
    &--experiment::after,
    &--order::after {
      background-color: #3D3333;
      background-size: 100% auto;
    }

    &--maniac::after {
      background-image: linear-gradient(160.2deg, rgba(99, 60, 15, 0) 15.44%, rgba(99, 60, 15, 0.1) 25.42%, #24150E 61.36%, #1A140D 75.24%), radial-gradient(110.25% 155.58% at 22.69% 38.28%, rgba(0, 0, 0, 0.04) 18.57%, rgba(0, 0, 0, 0.1) 36.57%), url("../img/bg-maniac-mobile@1x.jpg");
    }

    &--secrets::after {
      background-image: linear-gradient(160.2deg, rgba(99, 60, 15, 0) 15.44%, rgba(99, 60, 15, 0.1) 25.42%, #24150E 61.36%, #1A140D 75.24%), url("../img/bg-secrets-mobile@1x.jpg");
    }

    &--ritual::after {
      background-image: linear-gradient(160.2deg, rgba(99, 60, 15, 0) 15.44%, rgba(99, 60, 15, 0.1) 25.42%, #24150E 61.36%, #1A140D 75.24%), url("../img/bg-ritual-mobile@1x.jpg");
    }

    &--experiment::after {
      background-image: linear-gradient(160.2deg, rgba(99, 60, 15, 0) 15.44%, rgba(99, 60, 15, 0.1) 25.42%, #24150E 61.36%, #1A140D 75.24%), url("../img/bg-experiment-mobile@1x.jpg");
    }

    &--order::after {
      background-image: linear-gradient(160.2deg, rgba(99, 60, 15, 0) 15.44%, rgba(99, 60, 15, 0.1) 25.42%, #24150E 61.36%, #1A140D 75.24%), url("../img/bg-order-mobile@1x.png");;
    }
  }
}


