.page-footer {
  flex: 0 0 auto;
  position: sticky;
  bottom: 0;
  padding-bottom: 21px;

  &--quests {
    background: linear-gradient(180deg, transparent 0%, rgba(#131212, 1) 100%);
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 35px;

    &--closed {
      display: none;
    }

    &--opened {
      width: 100%;
      position: fixed;
      display: flex;
      z-index: 1;
      bottom: 0;
    }

    &--quests {
      background: none;
    }
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.page-footer__question {
  position: relative;
  font: inherit;
  font-size: 12px;
  line-height: 17px;
  color: $color-text;
  text-decoration: none;
  margin-bottom: 5px;
  padding-top: 7px;
  padding-bottom: 3px;

  &:hover,
  &:focus {
    color: $color-accent;
    padding-left: 9px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-image: url("../img/line-dashed-white.svg");
    background-repeat: repeat-x;
    bottom: 0;
    left: 0;
  }

  &:hover::before {
    content: "?";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &:hover::after,
  &:focus::after {
    background-image: url("../img/line-dashed-orange.svg");
  }

  @media (max-width: $mobile-width) {
    padding-top: 7px;
    padding-bottom: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #e6e6e6;

    &:hover,
    &:focus {
    padding-left: 11px;
  }
  }
}
