.page-header {
  position: sticky;
  top: 0;
  flex: 1 0 auto;
  z-index: 1;

  &--quests {
    background-color: #1f1d1d;
  }

  @media (max-width: $mobile-width) {
    position: absolute;

    &--closed {
      position: sticky;

      .page-header__nav {
        display: none;
      }

      &::after {
        content: none;
      }
    }

    &--opened {
      position: absolute;

      .page-header__nav {
        display: flex;
      }
    }

    &--nojs {
      position: relative;
      height: auto;
      min-height: auto;
      flex: 0 0 auto;
      margin-bottom: 20px;
      background-color: #1f1d1d;

      .page-header__nav {
        display: flex;
      }
    }
  }
}


.page-header--opened .page-header__container {
  @media (max-width: $mobile-width) {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(163.84deg, #633c0f -68.98%, #24150e 75.12%, #1a140d 132.97%);
  }
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 23px;
  padding-left: 32px;
  padding-right: 32px;

  @media (max-width: $tablet-width) {
    padding-top: 19px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.page-header__logo-block {
  @media (max-width: $mobile-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.page-header__toggle {
  display: none;

  @media (max-width: $mobile-width) {
    position: relative;
    display: block;
    padding-left: 0;
    padding-right: 29px;
    font: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #f0f0f0;
    border: none;
    background: none;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right center;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}

.page-header--closed .page-header__toggle {
  @media (max-width: $mobile-width) {
    background-image: url("../img/burger-open.svg");
  }
}

.page-header--opened .page-header__toggle {
  @media (max-width: $mobile-width) {
    background-image: url("../img/burger-close.svg");
  }
}

.page-header--nojs .page-header__toggle {
  display: none;
}

.page-header__logo {
  display: block;
}

.page-header__logo-icon {
  @media (max-width: $mobile-width) {
    width: 95px;
    height: 37px;
  }
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  width: calc(35% + 463px);

  @media (max-width: $tablet-width) {
    width: 500px;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (max-width: $mobile-width) {
    margin-top: 31px;
    width: 100%;
    align-items: center;
  }
}

.page-header__contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 300px;
  margin-bottom: 8px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    flex-direction: column;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(#ffffff, 0.16);
  }
}

.page-header__town {
  display: flex;
  align-items: center;
  margin-right: 25px;
  padding: 0;
  font: inherit;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $color-accent;
  border: none;
  background: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    margin-right: 0;
    margin-bottom: 17px;
  }
}

.page-header__town-text {
  position: relative;
  margin-left: 7px;
  padding-top: 7px;
  padding-bottom: 6px;
  max-width: 130px;
  overflow-wrap: break-word;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: url("../img/line-dashed-orange.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }

  &:hover::after,
  &:focus::after {
    content: "";
  }

  @media (max-width: $tablet-width) {
    max-width: 200px;
  }
}

.page-header__phone {
  margin-right: 7px;
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  color: $color-text-white;

  &:hover,
  &:focus {
    color: $color-accent;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}
