.site-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(56% + 27px);

  @media (max-width: $tablet-width) {
    width: auto;
    margin-bottom: 15px;
  }

  @media (max-width: $mobile-width) {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    order: 1;
    margin-top: 37px;
  }
}

.site-list__item {
  margin-right: 10px;
  max-width: 230px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-left: 24px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 34px;
    margin-left: 0;
  }
}

.site-list__link {
  font: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: $color-text-white;
  overflow-wrap: break-word;

  &[href]:hover,
  &[href]:focus {
    color: $color-accent;
  }

  &--active {
    color: $color-accent;
    cursor: default;
  }

  &--active[href] {
    cursor: pointer;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;

    &--active {
      color: $color-accent;
      cursor: default;
    }

    &--active[href] {
      cursor: pointer;
    }
  }
}
