$color-main: #e6e6e6;

// Шрифты
$font-main: "Raleway", "Arial", sans-serif;

// Разрешения экрана
$mobile-width: 767px;
$tablet-width: 1023px;

// Ретина экран
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
