$color-text: #e6e6e6;
$color-accent: #f2890f;
$color-text-white: #f0f0f0;

// Шрифты
$font-main: "Raleway", "Arial", sans-serif;

// Разрешения экрана
$mobile-width: 767px;
$tablet-width: 1023px;

// Ретина экран
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
